apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    nginx.ingress.kubernets.io/rewrite-target: /
spec:
  rules:
    - http:
        paths:
        - path: /
          backend:
            serviceName: nodejs-service-cluster-ip
            servicePort: 80 